name: Continuous Integration

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  MarkdownLint:
    name: MarkdownLint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Project
        uses: actions/checkout@v4
        with:
          submodules: true
      - name: Use Node.js 18
        uses: actions/setup-node@v3
        with:
          node-version: 20
          cache: yarn
          registry-url: https://registry.npmjs.org/
      - name: Install Dependencies
        run: yarn --immutable
      - name: Run MarkdownLint
        run: yarn lint:no-fix

  Prettier:
    name: Prettier Validation
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Project
        uses: actions/checkout@v4
        with:
          submodules: true
      - name: Use Node.js 18
        uses: actions/setup-node@v3
        with:
          node-version: 20
          cache: yarn
          registry-url: https://registry.npmjs.org/
      - name: Install Dependencies
        run: yarn --immutable
      - name: Run Prettier
        run: yarn format:check
